header{
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 0.3s ease;
}
.fixed{
  background-color: var(--qwik-dark-lightBackground);
}
.fixed .container{
  padding: 1.4rem 4% !important;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixed .wrapper{
  padding: 1.4rem 4% !important;
}

.logo {
  display: inline-block;
  width: 15%;
}
.logo a {
  display: block;
}
.logo svg {
  height: auto;
  max-width: 200px;
  transition: all 0.3s ease;
}
.fixed .logo svg {
  width: 100%;
  max-width: 140px;
}
.nav_bar{
  padding: 2rem 4% !important;
}
.nav{
  width: 60%;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.nav li a {
  color: white;
  display: inline-block;
  padding: .5rem 1.5rem;
  text-decoration: none;
  font-size: 16px;
}

.nav li a:hover {
  color: var(--qwik-light-blue);
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.social {
  color: var(--qwik-white);
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
