.about_section {
    max-width: 1200px;
    margin: 0 auto;
}
.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 4%;
    background-color: var(--qwik-dark-lightBackground);
}

/* PIC ------------------------------------ */
.about-pics {
    width: 45%;
}

/* TEXT ------------------------------------ */
.about-text {
    width: 50%;
    text-align: left;
    margin:  0 auto;
    padding: 1rem 0 1rem 4%;
}
.about-text .h1.about-title {
    font-size: 1.3rem;
    text-align: left;
}
.about-text .about-subTitle {
    font-size: 2.5rem;
    display: block;
}
.about-text .about-paragraphe {
    margin: 1rem 0;
}