.banner {
    position: relative;
    height: 100lvh;
    width: 100lvw;
    background: url(../../../../public/images/banner.jpg) no-repeat center / cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}